.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    -webkit-animation: scale-in-hor-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-hor-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h1 {
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-bottom: 15px;

}

h1 span {
    color: #30bfff;
    font-size: 25px;
}

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    transition: 1s step-end;
}


@media (max-width:600px) {
    .containerLogo {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 43px;
        margin-bottom: 50px;
    }
}

img {
    display: flex;
    max-width: 300px;
    -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: 2s;
}



@-webkit-keyframes scale-in-hor-center {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1;
    }
}