.container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: dashed 0.5px #308aff;
    border-radius: 6px;
    height: 500px;
    gap: 10px;
    background-color: #1d1c20;
    margin: auto;
    color: #fff;
    transition: 1s all;
}

.cspiner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 160px auto;

}

.spiner {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@-webkit-keyframes container {
    0% {
        -webkit-transform: translateX(0) translateZ(0) rotateY(0);
        transform: translateX(0) translateZ(0) rotateY(0);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: translateX(100%) translateZ(160px) rotateY(-180deg);
        transform: translateX(100%) translateZ(160px) rotateY(-180deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
}

@keyframes container {
    0% {
        -webkit-transform: translateX(0) translateZ(0) rotateY(0);
        transform: translateX(0) translateZ(0) rotateY(0);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: translateX(100%) translateZ(160px) rotateY(-180deg);
        transform: translateX(100%) translateZ(160px) rotateY(-180deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
}




.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #b8b8b8;
    border-radius: 97px;
    margin-bottom: 50px;
    transition: 1s all;
}

.container:hover>.logo {
    background-color: #308aff;
}

strong {
    color: #fff;
}

.winer {
    color: #03924d;
    font-weight: bold;
}

.Loss {
    color: #f91257;
    font-weight: bold;
}


@media (max-width: 600px) {

    .container {
        width: 80%;
    }
}

@media (max-width:600px) {
    .container {
        margin-top: 30px;
    }
}